<button class="btn btn-primary" (click) = "one()">1</button>
<button class="btn btn-primary" (click) = "two()">2</button>
<button class="btn btn-primary" (click) = "three()">3</button>
<button class="btn btn-primary" (click) = "four()">4</button>
<button class="btn btn-primary" (click) = "five()">5</button>
<button class="btn btn-primary" (click) = "six()">6</button>
<button class="btn btn-primary" (click) = "seven()">7</button>
<button class="btn btn-primary" (click) = "eight()">8</button>
<button class="btn btn-primary" (click) = "nine()">9</button>
<button class="btn btn-primary" (click) = "zero()">0</button>
<button class="btn btn-success" (click) = "plus()">+</button>
<button class="btn btn-success" (click) = "minus()">-</button>
<button class="btn btn-success" (click) = "divide()">/</button>
<button class="btn btn-success" (click) = "multiply()">*</button>
<button class="btn btn-success" (click) = "equally()">=</button>
